

<nav class="navbar navbar-default navbar-fixed-top" style= "background-color: #ff8b94"  >
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>
<a class="img-thumbnail" href="homepage"><img src = "logo.png" style= "height: 40px; width: 40px;"></a>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
  <li ><a href="homepage">Home <span class="sr-only">(current)</span></a></li>
  <li><a href="contactus">Contact Us</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/categories" class="link">Beauty</a></li>
      <li><a href="/categories" class="link">Fitness</a></li>
      <li><a href="/categories" class="link">Fashion</a></li>
      <li><a href="/categories" class="link">Health</a></li>
      <li class="divider"></li>
      <li><a href="promos">Promos!</a></li>
      <li class="divider"></li>
      <li><a href="newrelease">New Releases</a></li>
    </ul>
  </li>
</ul>
<form class="navbar-form navbar-left" action="search" method="GET">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search" style= "width: 500px;" name='search'>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    {{#if_eq logged 1}}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="fname">{{firstname}}<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/profile">My Profile</a></li>
      <li><a href="/wishlist">My Wishlist</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </li>
  <li><a href="cart">My Cart</a></li>
  {{/if_eq}}
  {{#if_eq logged 0}}
  <li><a href="login">Login/ Sign Up</a></li>
  {{/if_eq}}
  <script>
    $(document).on('click', '.link', function(){
      var href = $(this).attr('href') + "?type=" + $(this).text();
      $(this).attr('href', href);
    })
  </script>
</ul>
</div>
</div>
</nav>
