<html>
  <head> 
    <Title>{{title}}</Title>
    <link rel = "stylesheet" type = "text/css" href = "style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

  </head>
  
  <style>
      .paddingTB60 {
          padding-top:60px;
          padding-bottom:60px;
      }
      .bgcolor-skyblue {
          background:#eaf0f9;
      }
       
       .image-aboutus-banner {
          background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("aboutus.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          color: #fff;
          padding-top: 110px;
          padding-bottom:110px;
       }
       
        .image-aboutus-sm-banner {
          background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("aboutus.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          color: #fff;
          padding-top: 30px;
          padding-bottom:30px;
       }
      .lg-text {
          font-size:52px;
          font-weight: 600;
          text-transform: none;
          color:#fff;
      }
      .image-aboutus-para {
          color:#fff;
      }

      /************************* */

      .col-md-3,.col-md-4 {
          position: relative;
          min-height: 1px;
          padding-right: 0px;
          padding-left: 0px;
      }

      .bg-pink {
          background:#f0f0f0;
      }
      .bg-blue {
          background:#d6d6d6;
          color:#000;
      }
       .padding35 {
          padding: 35px 0 35px;
      }
    </style>



  <body style= "background-color: #ffd3b6; font-color: black; font-family: Helvetica Neue, sans-serif; letter-spacing: 1.5px; font-weight: 500;">
    <header class = "header" style = "font-color: black; font-weight: 500; font-family: Helvetica Neue, sans-serif;">
<div class="image-aboutus-banner"style="margin-top:50px">
   <div class="container">
    <div class="row">
        <div class="col-md-12">
         <h1 class="lg-text">About Us</h1>
         <p class="image-aboutus-para"> "We R Who We R" - Ke$sha </p>
       </div>
    </div>
</div>
</div>

<div class="container paddingTB60" style = "background-color: #ffd3b6;">
  <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                 <hr>

                <h2>Competitors are not in our level</h2>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="aboutus.png" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead">"They are the next big thing I tell you!, They will make other online shopping bankcrupt and be shooked" - Late Henry Sy </p>
                <p>Ganda ka Teh? Philippines is a fun, free and trusted way to buy and sell instantly online. We are a leading mobile-first marketplace platform in Southeast Asia--Singapore, Malaysia, Thailand, Indonesia, Vietnam, and the Philippines and Taiwan. Join millions of others on Ganda ka Teh? to list products and shop for deals online. Shopping online on Ganda ka Teh? is safe and we make sure of it. Get the item you ordered or get your money back with Ganda ka Teh? Guarantee. Create and browse listings for free, at no extra charge. Join our Ganda ka Teh? community and start shopping today!</p>
                <p>Join Ganda ka teh? to find everything you need at the best prices. Shopping online at the Philippines’ best marketplace cannot get any easier. Ganda ka Teh? is a social marketplace where you can enjoy instant and personalized updates from your friends and favorite community members. If you spot great products or deals while shopping online, Ganda ka Teh? enables you to share these deals with your friends via a simple tap.</p>
                <p>Online Shopping with Ganda ka Teh? Philippines is not only easy and safe, but it’s also tons of fun. Enjoy big sales like Orange Day, the 9.9 Shopping Day and the 11.11 Sale to score the biggest and best discounts and special prices on your favorite products. With special promotions from shops such as special voucher codes, buy one, take one deals and flash sales, to weekly offers like Saturday Special, Wicked Weekend, and Pixie’s Picks, you’re sure to become a true blue Ganda ka Teh?holic.</p>
                <p>Ganda ka Teh? provides the right tools to support all our sellers on our marketplace platform. List your products in less than 30 seconds. Sell better and get more exposure for your products by participating in our campaigns and promotions. Use Ganda ka Teh? Seller Centre to organize your products, track orders, manage customers and measure shop performance. Share your products easily on social media platforms, including Facebook, Twitter, and Instagram. You can even build up your online reputation by gathering positive ratings and reviews from your buyers. Ganda ka Teh? is completely free with no commissions or download fees, so join us and start selling today!</p>

                <hr>

               
            </div>
            <div><img src = "logo.png" style = "height: 300px; width: 300px;" ></div>

    </header>

    <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
      modal.style.display = "none";
    }

    </script>

    <script src="addminus.js"></script>

    <script>
    function myFunction() {
      document.getElementById("myBtn").value = "newButtonValue";
    }
    </script>

  </body>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


</html>