<html>
	<head>
		<Title>Ganda Ka Teh?</Title>
		<link rel = "stylesheet" type = "text/css" href = "style.css">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

		<style>
			.avatar {
				font-size: 1rem;
				display: inline-flex;
				width: 55px;
				height: 55px;
				color: #fff;
				border-radius: 50%;
				background-color: #adb5bd;
				align-items: center;
				justify-content: center;
			}

			.avatar img {
				width: 100%;
				border-radius: 50%;
			}

			.item-img{
				width:auto;
				height:180px;

			}

			.tab-pane{
				padding-top: 20px;
			}

			#customers {
				font-family: "Helvetica Neue", sans-serif;
				border-collapse: collapse;
				max-width: 100%;
			}

			#customers td, #customers th {
				border: 1px solid #ddd;
				padding: 8px;
			}

			#customers tr:nth-child(even){background-color: #dcedc1;}

			#customers tr:hover {background-color: #ffaaa5;}

			#customers th {
				padding-top: 12px;
				padding-bottom: 12px;
				text-align: left;
				background-color: #a8e6cf;
				color: black;
			}

			.tabbable-line > .nav-tabs {
				border: none;
				margin: 0px;
			}

			.tabbable-line > .nav-tabs > li {
				margin-right: 2px;
			}

			.tabbable-line > .nav-tabs > li > a {
				border: 0;
				margin-right: 0;
				color: #737373;
			}

			.tabbable-line > .nav-tabs > li > a > i {
				color: #a6a6a6;
			}

			.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
				border-bottom: 4px solid #fbcdcf;
			}

			.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
				border: 0;
				background: none !important;
				color: #333333;
			}

			.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
				color: #a6a6a6;
			}

			.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
				margin-top: 0px;
			}

			.tabbable-line > .nav-tabs > li.active {
				border-bottom: 4px solid #f3565d;
				position: relative;
			}

			.tabbable-line > .nav-tabs > li.active > a {
				border: 0;
				color: #333333;
			}

			.tabbable-line > .nav-tabs > li.active > a > i {
				color: #404040;
			}

			.tabbable-line > .tab-content {
				margin-top: -3px;
				background-color: #fff;
				border: 0;
				border-top: 1px solid #eee;
				padding: 15px 0;
				width: 78%;
				height:100%;
				background-color:#ffaaa5;
				padding:50px
			}
			.portlet .tabbable-line > .tab-content {
				padding-bottom: 0;
			}
		</style>
	</head>

<body style= "background-color: #ffd3b6; font-color: black; font-family: Helvetica Neue, sans-serif; letter-spacing: 1.5px; font-weight: 500;">
		<header class = "header" style = "font-color: black; font-weight: 500; font-family: Helvetica Neue, sans-serif;">

		</header>

		<hr><hr><br>
		<div class="row" style="margin:60px; align-items: center;">
		  	<div class="row">
				<div class="col-sm-3"><!--left col-->
				   <div class="text-center">
					  <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar rounded-circle mr-3" alt="avatar" width="40%" height="40%">
					  <h6> Update your profile picture </h6>
					  <input type="file" class="text-center center-block file-upload">
				  </div><br>

				  <!--USER DETAILS-->
				  <ul class="list-group">
					  <li class="list-group-item text-muted"> DETAILS <i class="fa fa-dashboard fa-1x"></i></li>
					  <li class="list-group-item text-right" id="dname"><span class="pull-left"><strong> Name </strong></span> {{name}} </li>
					  <li class="list-group-item text-right" id="demail"><span class="pull-left"><strong> Email </strong></span> {{email}} </li>
					  <li class="list-group-item text-right" id="dphone"><span class="pull-left"><strong> Phone </strong></span> {{num}}</li>
					  <li class="list-group-item text-right" id="daddress"><span class="pull-left"><strong> Address </strong></span> {{address}} </li>
					</ul>

			  	</div><!--/col-3-->

				<div class="col-sm-9">
					<div class="tabbable-panel">
						<div class="tabbable-line">
							<ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab" href="#edit"> Edit </a></li>
								<li><a data-toggle="tab" href="#purchases"> My Purchases </a></li>
								<li><a data-toggle="tab" href="#orderhistory"> My Order History </a></li>
							</ul>
						</div>
					</div>

					<!--edit tab for user to update to personal info-->
					<div class="tab-content">
						<div class="tab-pane active" id="edit">
							<hr>
								<form class="form" id="registrationForm">
									<div class="form-group">
										<div class="col-xs-6">
											<label for="name"><h4> Name </h4></label>
											<input type="text" class="form-control" name="name" id="name" placeholder="Name">
										</div>
									</div>

									<div class="form-group">
										<div class="col-xs-6">
											<label for="phone"><h4> Phone Number </h4></label>
											<input type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number">
										</div>
									</div>

									<div class="form-group">
									<div class="col-xs-6">
											<label for="email"><h4> Email </h4></label>
											<input type="email" class="form-control" name="email" id="email" placeholder="Email">
										</div>
									</div>

									<div class="form-group">
										<div class="col-xs-6">
											<label for="address"><h4> Shipping Address </h4></label>
											<input type="text" class="form-control" id="address" placeholder="Shipping Adress">
										</div>
									</div>

									<div class="form-group">
										<div class="col-xs-6">
											<label for="password"><h4> Password </h4></label>
											<input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
										</div>
									</div>

									<div class="form-group">
										<div class="col-xs-6">
										<label for="cpassword"><h4> Verify Password </h4></label>
											<input type="password" class="form-control" name="cpassword" id="cpassword" placeholder="Re-enter Password" required>
										</div>
									</div>

									<div class="form-group">
										<div class="col-xs-12"><br>
											<input class="btn btn-lg btn-success" type="submit" id="submit" value="Save">
											<input class="btn btn-lg" type="reset" value="Reset">
									</div>
									</div>
								</form>
							<hr>
						</div><!--/edit tab-pane-->

						<!--user's purchases-->
						<div class="tab-pane" id="purchases">
							<div class="row">
								<div class="col-md-12">
									<div class="tabbable-panel">
										<div class="tabbable-line">
											<ul class="nav nav-tabs ">
												<li class="active"><a href="#tab_default_1" data-toggle="tab"> To Receive </a></li>
												<li><a href="#tab_default_2" data-toggle="tab"> Completed </a></li>
												<li><a href="#tab_default_3" data-toggle="tab"> Cancelled </a></li>
												<li><a href="#tab_default_4" data-toggle="tab"> Returned </a></li>
											</ul>

											<div class="tab-content">
												<!--view items to be received-->
												<div class="tab-pane active" id="tab_default_1">
													<span><a href="dove"><img src="soap.png" class='item-img'></a></span>
													<span><a href="lotion"><img src="lotion.png" class='item-img'></a></span>
												</div>

												<!--view completed transactions-->
												<div class="tab-pane" id="tab_default_2">
													<span><a href="shampoo"><img src="shampoo.png" class='item-img'></a></span>
												</div>

												<!--view cancelled transactions-->
												<div class="tab-pane" id="tab_default_3">
													<span><a href="perfume"><img src="channel.png" class='item-img'></a></span>
												</div>

												<!--view returned items-->
												<div class="tab-pane" id="tab_default_4">
													<span><a href="shorts"><img src="Fitness2.png" class='item-img'></a></span>
												</div>

											</div><!-- End tab-content -->
										</div><!-- tabbable-line -->
									</div><!-- End tabbable-panel -->
								</div><!--end col-md-12 -->
							</div><!-- end row  -->
						</div><!--/tab-pane-->

						<!--user's order history-->
						<div class="tab-pane" id="orderhistory">
							<table id="customers">
								<tr>
									<th> Item </th>
									<th> Product Name </th>
									<th> Order Date </th>
									<th> Date Received </th>
									<th> Amount </th>
								</tr>

								<tr>
									<td><a href="modess" class="avatar rounded-circle mr-3"><img src="modess.png"></a></td>
									<td><a href="modess" >Modess Long Napkin </a></td>
									<td>Feb. 02, 2020</td>
									<td>Feb. 05, 2020</td>
									<td> PHP 50.00 </td>
								</tr>

								<tr>
									<td><a href="lipstick" class="avatar rounded-circle mr-3"><img src="lipstick.png"></a></td>
									<td><a href="lipstick"> Mac Lipstick </a></td>
									<td>Feb. 08, 2020</td>
									<td>Feb. 13, 2020</td>
									<td>PHP 499.00</td>
								</tr>

								<tr>
									<td><a href="oil" class="avatar rounded-circle mr-3"><img src="oil.png"></a></td>
									<td><a href="oil">Efficascent Oil</a></td>
									<td>Feb. 10, 2020</td>
									<td>Feb. 15, 2020</td>
									<td>PHP 35.00</td>
								</tr>
							</table>
						</div><!--/tab-pane-->
					</div><!--/tab-content-->
				</div><!--/col-9-->
			</div><!--row-->
		</div><!--row-->

		<script type="text/javascript">
			var readURL = function(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();

					reader.onload = function (e) {
						$('.avatar').attr('src', e.target.result);
					}
					reader.readAsDataURL(input.files[0]);
				}
			}

			$(".file-upload").on('change', function(){
				readURL(this);
			});

			$('[id^=detail-]').hide();

			$('.toggle').click(function() {
				$input = $( this );
				$target = $('#'+$input.attr('data-toggle'));
				$target.slideToggle();
			});
		</script>
	</body>
</html>
